extends ../shared/layout

block main-content
    h2
        | Content Control View

    .panel.panel-primary
        .panel-heading
            div.row
                div.col-md-6.col-lg-6(style="line-height: 3")
                    | Real Estate Types Control
                div.col-md-6.col-lg-6
                    button.btn.btn-sm.btn-info.pull-right.btn-raised#btn-add-type
                        span.glyphicon.glyphicon-plus
        .panel-body
            ul.list-item-group
                li.list-group-item#toggle-add-type(style="display: none")
                    div
                        form(method="POST", action="/admin/content/types")
                            .form-group.row
                                label(for="typeName", class='col-md-2 control-label') Name:
                                .col-md-8
                                    input(id="typeName" class="form-control" type="text" name="name" placeholder="Type" required)
                                .col-md-2
                                    input(type="submit" value="Add").btn.btn-success
                each ret, index in data.realEstateTypes
                    li.list-group-item(data-estate-type=index)
                        div.row
                            div.col-md-6.col-lg-6= ret
                            div.col-md-6.col-lg-6
                                a.btn.btn-sm.btn-danger.pull-right.btn-raised(href='javascript:document.getElementById("form-rm-type-' + index + '").submit()')
                                    span.glyphicon.glyphicon-trash
                                form(method="POST", action="/admin/content/types/" + index, id="form-rm-type-" + index).hidden

    .panel.panel-primary
        .panel-heading
            div.row
                div.col-md-6.col-lg-6(style="line-height: 3")
                    | Real Estate Locations Control
                div.col-md-6.col-lg-6
                    button.btn.btn-sm.btn-info.pull-right.btn-raised#btn-add-location
                        span.glyphicon.glyphicon-plus
        .panel-body
            ul.list-item-group
                li.list-group-item#toggle-add-location(style="display: none")
                    div
                        form(method="POST", action="/admin/content/locations")
                            .form-group.row
                                label(for="locName", class='col-md-2 control-label') Name:
                                .col-md-8
                                    input(id="locName" class="form-control" type="text" name="name" placeholder="Location" required)
                                .col-md-2
                                    input(type="submit" value="Add").btn.btn-success
                each rel, index in data.realEstateLocations
                    li.list-group-item(data-estate-location=index)
                        div.row
                            div.col-md-6.col-lg-6= rel
                            div.col-md-6.col-lg-6
                                a.btn.btn-sm.btn-danger.pull-right.btn-raised(href='javascript:document.getElementById("form-rm-loc-' + index + '").submit()')
                                    span.glyphicon.glyphicon-trash
                                form(method="POST", action="/admin/content/locations/" + index, id="form-rm-loc-" + index).hidden

    .panel.panel-primary
        .panel-heading
            div.row
                div.col-md-6.col-lg-6(style="line-height: 3")
                    | Real Estate Construction Types Control
                div.col-md-6.col-lg-6
                    button.btn.btn-sm.btn-info.pull-right.btn-raised#btn-add-construction
                        span.glyphicon.glyphicon-plus
        .panel-body
            ul.list-item-group
                li.list-group-item#toggle-add-construction(style="display: none")
                    div
                        form(method="POST", action="/admin/content/construction")
                            .form-group.row
                                label(for="constrName", class='col-md-2 control-label') Name:
                                .col-md-8
                                    input(id="constrName" class="form-control" type="text" name="name" placeholder="Construction" required)
                                .col-md-2
                                    input(type="submit" value="Add").btn.btn-success
                each rec, index in data.realEstateConstruction
                    li.list-group-item(data-estate-construction=index)
                        div.row
                            div.col-md-6.col-lg-6= rec
                            div.col-md-6.col-lg-6
                                a.btn.btn-sm.btn-danger.pull-right.btn-raised(href='javascript:document.getElementById("form-rm-constr-' + index + '").submit()')
                                    span.glyphicon.glyphicon-trash
                                form(method="POST", action="/admin/content/construction/" + index, id="form-rm-constr-" + index).hidden

    .panel.panel-primary
        .panel-heading
            | About Us Page Editor
        .panel-body
            form(method="post" action="/admin/content/aboutUs")
                textarea#editor(rows="10" cols="30" style="height:440px" name="content")
                    | !{data.aboutUs}
                button.btn.btn-success.btn-block Save Changes

    script.
        $(function() {
            $("#editor").kendoEditor({
                encoded: false,
                resizable: {
                    content: true,
                    toolbar: true
                }
            });

            $('#btn-add-type').on('click', function (e) {
                $('#toggle-add-type').toggle();
            })

            $('#btn-add-location').on('click', function (e) {
                $('#toggle-add-location').toggle();
            })

            $('#btn-add-construction').on('click', function (e) {
                $('#toggle-add-construction').toggle();
            })
        })