extends ../shared/layout

block main-content
    - var nextPage = data.page + 1;
    - var prevPage = ((data.page - 1) > 0) ? data.page - 1 : data.page;
    - var entries = data.users.length;
    - maxPage = Math.ceil(entries / 10) + 2;

    h2
      | Manage Users
    div(ng-controller = "UsersController as vm")
        .panel.panel-default
            h2.panel-heading
                | User Control
            .panel-body
                div.text-center
                    ul.pagination
                        li
                            a(href="?page=" + prevPage) «
                        if(prevPage !== data.page)
                            li
                                a(href="?page=" + prevPage)= prevPage
                        li.active
                            a(href="javascript:;")= data.page
                        if(maxPage != data.page)
                            li
                                a(href="?page=" + nextPage)= nextPage
                            li
                                a(href="?page=" + nextPage) »
                table.table.table-hover.table-condensed
                    thead
                        tr
                            th #
                            th Username
                            th First Name
                            th Last Name
                            th Roles
                            th Promote/Demote
                    tbody
                        each user in data.users
                            tr(id=user._id)
                                td= user._id
                                td
                                    a(href="/profile/" + user.username)= user.username
                                td= user.firstName
                                td= user.lastName
                                td= [ user.roles.join(', ') ]
                                td
                                    .button-group
                                        if(user.roles.length < 2)
                                            button.btn.btn-sm.btn-success#btn-promote(data-toggle="modal" data-target="#promote-dialog" ng-click="vm.uId ='" + user._id+"'") <span class="glyphicon glyphicon-menu-up"> </span>  Promote
                                        if(user.roles.length >= 1)
                                            button.btn.btn-sm.btn-danger#btn-demote(data-toggle="modal" data-target="#demote-dialog" ng-click="vm.uId ='" + user._id+"'")<span class="glyphicon glyphicon-menu-down"> </span> Demote
            .panel-footer.text-center
                ul.pagination
                    li
                        a(href="?page=" + prevPage) «
                    if(prevPage !== data.page)
                        li
                            a(href="?page=" + prevPage)= prevPage
                    li.active
                        a(href="javascript:;")= data.page
                    if(maxPage != data.page)
                        li
                            a(href="?page=" + nextPage)= nextPage
                        li
                            a(href="?page=" + nextPage) »

        div#promote-dialog.modal.fade(tabindex="-1" style="display: none;")
            div.modal-dialog
                div.modal-content
                    div.modal-body.text-center
                        p.text-success
                            | Are you sure you want to promote the user?
                        button.btn.btn-lg.btn-primary.text-center(ng-click="vm.promote()") Yes
                        button.btn.btn-lg.btn-danger.text-center(data-dismiss="modal") No

        div#demote-dialog.modal.fade(tabindex="-1" style="display: none;")
            div.modal-dialog
                div.modal-content
                    div.modal-body.text-center
                        p.text-danger
                            | Are you sure you want to demote the user?
                        button.btn.btn-lg.btn-danger.text-center(ng-click="vm.demote()") Yes
                        button.btn.btn-lg.btn-primary.text-center(data-dismiss="modal") No
