extends ../shared/layout

block main-content
    jumbotron
        h1= 'Title: ' + realEstate.title
        if realEstate.offerType === 'forRent'
            h3
                b For Rent
        else
            h3
                b For Sale
        p= 'Description: ' + realEstate.description
        p= 'Created On: ' + moment(realEstate.createdOn).format("MMMM Do YYYY")
        p= 'Location: ' + realEstate.location
        p= 'Year: ' + realEstate.year
        p= 'Construction Type: ' + realEstate.constructionType
        p= 'Type: ' + realEstate.realEstateType
        img.img-thumbnail(src=realEstate.image)
