extends ../shared/layout

block main-content
    .container
        span Title=
        span=realEstate.title
        br
        span Description=
        span=realEstate.description
        br
        span Location=
        span=realEstate.location
        br
        span Sale Price=
        span=realEstate.salePrice
        br
        span Rent Price=
        span=realEstate.rentPrice
        br
        span Quadrature=
        span=realEstate.quadrature
        br
        span Year=
        span=realEstate.year
        br
        span Type=
        span=realEstate.realEstateType
        br
        span Construction Type=
        span=realEstate.constructionType
        br
        span Created On =
        span=realEstate.createdOn
        br