extends ../shared/layout

block main-content
    h2
        | Browse real estate entries
    .col-md-12
        .well
            form(method="post", action="", class='form-vertical' name="searchForm")
                fieldset
                    legend Search
                    div
                    .col-md-12
                        .form-group.is-empty.col-md-4
                            input.form-control.col-md-4(type="text" placeholder="Search by title" name="title")
                            span.material-input
                        b.col-md-2 Price:
                        .form-group.is-empty.col-md-3
                            input.form-control.col-md-4(type="number" placeholder="From" min="0" name="priceFrom")
                            span.material-input
                        .form-group.is-empty.col-md-3
                            input.form-control.col-md-4(type="number" placeholder="To" min="0" name="priceTo")
                            span.material-input
                    .col-md-12
                        .form-group.col-md-3
                            label.col-md-6.control-label(for="offerType") Offer Type
                            .col-md-12
                                select.form-control(id="offerType" name="offerType")
                                    option(value="") Select
                                    option(value="forSale") For Sale
                                    option(value="forRent") For Rent
                        .form-group.col-md-3
                            label.col-md-6.control-label(for="location") Location
                            .col-md-12
                                select.form-control(id="location" name="location")
                                    option(value="")
                                        | Select
                                        each loc in pageData.common.locations
                                            option(value="#{loc}")
                                                | #{loc}
                        .form-group.col-md-3
                            label.col-md-6.control-label(for="realEstateType") Type
                            .col-md-12
                                select.form-control(id="realEstateType" name="realEstateType")
                                    option(value="")
                                        | Select
                                        each type in pageData.common.realEstateTypes
                                            option(value="#{type}")
                                                | #{type}
                        .form-group.col-md-3
                            label.col-md-6.control-label(for="constructionType") Construction
                            .col-md-12
                                select.form-control(id="constructionType" name="constructionType")
                                    option(value="")
                                        | Select
                                        each type in pageData.common.constructionTypes
                                            option(value="#{type}")
                                                | #{type}
                    .col-md-12
                        .form-group.col-md-6
                            col-md-10.col-md-offset-2
                                button(type="reset" class="btn btn-default") Cancel
                                button(type="submit" class="btn btn-primary") Browse


        // RESULTS
        .panel.panel-default
            h2.panel-heading
                | Results
            if pageData.realEstates
                .panel-body
                    table.table.table-hover.table-condensed
                        thead
                            tr
                                th <span class="glyphicon glyphicon-link"> </span> Offer Title
                                th Real Estate Type
                                th <span class="glyphicon glyphicon-map-marker"> </span> Location
                                th Construction
                                th Sqm
                                th <span class="glyphicon glyphicon-euro"> </span> Price
                                th Construction
                        tbody
                            each realEstate in pageData.realEstates
                                tr
                                    td
                                        a(href="details/" + realEstate['title'] + '/' + realEstate['_id'])= realEstate.title
                                    if realEstate.offerType === 'forSale'
                                        td For Sale
                                    else
                                        td For Rent
                                    td= realEstate.location
                                    td= realEstate.constructionType
                                    td= realEstate.quadrature
                                    td= realEstate.price
                                    td= realEstate.year
            else
                .panel-body NO RESULTS
