extends ../shared/layout

block main-content
    .panel.panel-default
        .panel-heading.text-center.relative-poss
            h1
                em= realEstate.title
            strong.absolute-poss
                if realEstate.offerType === 'forSale'
                    | FOR SALE
                else
                    | FOR RENT
        .panel-body
            .row
                .col-md-7
                    img.real-estate-image.img-thumbnail(src=realEstate.image)
                .col-md-5
                    h3.text-center Description
                    p.lead= realEstate.description
            br
            .row
                .col-md-4
                    strong= 'Real Estate Type: '
                    br
                    em= realEstate.realEstateType
                .col-md-4
                    strong= 'Construction: '
                    br
                    em= realEstate.constructionType
                .col-md-4
                    strong= 'Location: '
                    br
                    em= realEstate.location
            br
            .row
                .col-md-4
                    strong= 'Quadrature: '
                    br
                    em= realEstate.quadrature
                .col-md-4
                    strong= 'Year of construction: '
                    br
                    em= realEstate.year
                .col-md-4
                    strong= 'Price: '
                    br
                    em= realEstate.price

