extends ../shared/layout

block main-content
    - var nextPage = data.page + 1;
    - var prevPage = ((data.page - 1) > 0) ? data.page - 1 : data.page;
    - var entries = data.posts.length;
    - maxPage = Math.ceil(entries / 10) + 2;

    h2
        | Your Profile Page

    .panel.panel-primary(ng-controller="ProfileController as vm")
        .panel-heading
            h2 Edit Personal Info - User <strong>!{data.user.username}</strong>
        .panel-body
            div
                h4 Role -
                    span= " "
                    if(data.user.roles.indexOf('admin') > -1)
                        span.label.label-success Admin
                    span= " "
                    if(data.user.roles.indexOf('regular') < 0)
                        span.label.label-danger Banned
                    else
                        span.label.label-primary
                            |  Regular
            div
                .form-group.has-warning
                    label.col-lg-4.col-md-4.control-label Username:

                    .col-lg-8.col-md-8
                        input.form-control(type='text' ng-model="user.username" ng-init="user.username='" + data.user.username + "'" disabled)

                .form-group.has-success
                    label.col-lg-4.col-md-4.control-label <span class="glyphicon glyphicon-pencil"> </span> First name:

                    .col-lg-8.col-md-8
                        input.form-control(type='text' ng-model="user.firstName" ng-init="user.firstName='" + data.user.firstName + "'" ng-required)

                .form-group.has-success
                    label.col-lg-4.col-md-4.control-label <span class="glyphicon glyphicon-pencil"> </span> Last name:

                    .col-lg-8.col-md-8
                        input.form-control(type='text' ng-model="user.lastName" ng-init="user.lastName='" + data.user.lastName + "'" ng-required)

                .form-group.has-success
                    label.col-lg-4.col-md-4.control-label <span class="glyphicon glyphicon-pencil"> </span> Phone:

                    .col-lg-8.col-md-8
                        input.form-control(type='text' ng-model="user.phoneNumber" ng-init="user.phoneNumber='" + data.user.phoneNumber + "'")

                .form-group
                    .col-md-8
                        button(ng-click="vm.changeInfo(user)").btn.btn-success <span class="glyphicon glyphicon-ok"> </span> Save Changes
                        a.btn.btn-lg.btn-danger(href="/profile") <span class="glyphicon glyphicon-remove"> </span> Cancel
        .panel-footer
            p.text-center
                a(href="/profile/" + data.user.username) <span class="glyphicon glyphicon-link"> </span> How others see your profile

    .panel.panel-success
        .panel-heading
            h4 Your offers - !{data.posts.length} Total
        .panel-body
            table.table.table-hover.table-condensed
                thead
                    tr
                        th <span class="glyphicon glyphicon-link"> </span> Offer Title
                        th Real Estate Type
                        th <span class="glyphicon glyphicon-map-marker"> </span> Location
                        th Construction
                        th Sqm
                        th <span class="glyphicon glyphicon-euro"> </span> Price
                        th Year
                        th <span class="glyphicon glyphicon-remove"> </span> Remove?
                tbody
                    each post in data.posts
                        tr(id=post._id)
                            td
                                a(href="/realestates/details/" + post.title + "/" + post._id)= post.title
                            td= post.offerType
                            td= post.location
                            td= post.quadrature
                            td= post.constructionType
                            td= post.price
                            td= post.year
                            td.text-center
                                .btn-group-raised
                                    button.btn.btn-danger.glyphicon.glyphicon-remove
        .panel-footer.text-center
            ul.pagination
                li
                    a(href="?page=" + prevPage) «
                if(prevPage !== data.page)
                    li
                        a(href="?page=" + prevPage)= prevPage
                li.active
                    a(href="javascript:;")= data.page
                if(maxPage != data.page)
                    li
                        a(href="?page=" + nextPage)= nextPage
                    li
                        a(href="?page=" + nextPage) »
